# Ігнорувати важкі локальні моделі (завантажуються через download_models.py)
/models/

# Ігнорувати віртуальне середовище Python
/.venv/
/venv/
/ENV/

# Ігнорувати тимчасові файли кешу Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ігнорувати тимчасові звукові файли, якщо вони будуть створюватися
*.wav
*.mp3

# Налаштування середовища розробки PyCharm (за бажанням, зазвичай ховають)
.idea/

/outputs/
