torch
numpy<2
sounddevice
soundfile
num2words
transformers
sentencepiece
pyyaml
git+https://github.com/patriotyk/ukrainian-word-stress.git
git+https://github.com/patriotyk/ipa-uk.git
git+https://github.com/patriotyk/styletts2-inference@105aed29fa1a7698d08d920986890e9bbd03447c